.timer{
    color:rgb(0, 0, 0) ;
}

.green{
    background-color: rgb(157, 204, 248);
}

.red{
    background-color: rgb(7, 124, 219);
}

.yellow{
    background-color: rgb(125, 188, 240);
}

.control{
    background-color: rgb(12, 164, 175);
}







  










